fastapi==0.115.0
uvicorn==0.32.0
python-multipart==0.0.9
ultralytics==8.3.49
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
tensorflow==2.18.0
tf-keras==2.18.0
transformers==4.46.3
torch==2.5.1
torchvision==0.20.1
tqdm==4.66.6
pandas==2.2.3
datasets==3.2.0
peft==0.13.2
accelerate==1.0.1
openai-whisper==20240930
librosa==0.10.2.post1
soundfile==0.12.1
audioread==3.0.1
